<form class="choose_recipe">
        <div class="category">
        <label for="recipe_category">Choose Category:</label>
        <select name="category" id="category">
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
            <option value="appetizer">Appetizer</option>
            <option value="dessert">Dessert</option>
        </select>
    </div>