<div class="diet">
        <label for="diet_restrict">Select All That Apply:</label><br>
        <input type="checkbox" id="none" name="diet_restrict" value="None" checked>
        <label for="none">None</label><br>
        <input type="checkbox" id="vegetarian" name="diet_restrict" value="Vegetarian">
        <label for="vegetarian">Vegetarian</label><br>
        <input type="checkbox" id="vegan" name="diet_restrict" value="Vegan">
        <label for="none">Vegan</label><br>
        <input type="checkbox" id="peskitarian" name="diet_restrict" value="Peskitarian">
        <label for="vegetarian">Peskitarian</label><br>
        <input type="checkbox" id="glutenfree" name="diet_restrict" value="Gluten Free">
        <label for="glutenfree">Gluten Free</label><br>
        <input type="checkbox" id="dairyfree" name="diet_restrict" value="Dairy Free">
        <label for="dairyfree">Dairy Free</label><br>
        <input type="checkbox" id="shellfishfree" name="diet_restrict" value="Shellfish Free">
        <label for="shellfishfree">Shellfish Free</label><br>
        <input type="checkbox" id="kosher" name="diet_restrict" value="Kosher">
        <label for="kosher">Kosher</label><br>
    </div>
    <div class="addBtn">
        <button type="submit">Find Recipe</button>
    </div>
</form>